<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <style>
      h2,
      a.justified {
        display: flex;
        justify-content: center;
        font-size: 5rem;
      }
    </style>

    <title>{{title}}</title>
  </head>
  <body>
    <h1 align="center">{{head_message}}</h1>
    <h2 class="justified">{{converted_text}}</h2>
    <!-- <button href="/index.html">back to the main</button> -->
    <a href="/" class="justified" style="font-size: 2rem;">Back to index</a>
  </body>
</html>
